<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="text" name="login" 
          [(ngModel)]="cadastro.login" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="senha" 
          [(ngModel)]="cadastro.senha" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Redigite a Senha</mat-label>
        <input matInput type="password" name="confsenha" 
          [(ngModel)]="cadastro.confsenha" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" 
          [(ngModel)]="cadastro.nome" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" name="email" 
          [(ngModel)]="cadastro.email" required>
      </mat-form-field>
    </div>

    <div>
      <button mat-button (click)="createCadastro()" color="primary">Cadastrar</button>
    </div>
    <div>
      <span>Não tem cadastro?</span>
      <a routerLink="/cadastro">Cadastre-se.</a>
    </div>
  </mat-card-content>
</mat-card>
